.App {
  text-align: center;
}

/* LOGO */

.devseekers-logo {
  font-family: "Roboto", sans-serif;
  color:black;
  font-weight: bold !important;
  font-size: 3em !important;
}

.devseekers-logo:hover {
  color:black;
  text-decoration: none;
}

.center-logo {
  text-align: center;
  display: block;
}

/* NAVIGATION */
.nav-items li {
  font-family: "Roboto", sans-serif;
  color: black;
  display: inline-block;
  padding-left:3em;
  padding-right:3em;
}

.nav-items li a {
  color:black;
}

.nav-items li a:hover {
  color:#0344eb;
}

.dev-part {
  color: #0344eb;
}

.dev-part:hover {
  color: #0344eb !important;
}

/* JOB SEARCH FORM */

form {
  display: block;
  margin:auto;
  width:50%;
}

.filter-form {
  width:100%;
}

.uk-close-large {
  margin-right:1em;
}

.uk-accordion-content li {
  list-style: none;
}

.accordion, .uk-accordion {
  display: block;
  margin:auto;
  padding-top:1em !important;
}

.accordion li a {
    text-align: right;
}

label {
  display: block;
  margin-right:5em !important;
}

.uk-checkbox {
  margin-right:20px;
}

.job-title-input {
  margin-right:0.7em;
}

.location-input {
  margin-right:0.5em;
}

.home-page {
  margin-top:2em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
